name: CI Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  test-html:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Check HTML Files
        run: |
          echo "Checking HTML files..."
          ls *.html
