name: CI Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  test-html:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Give Permission to test.sh
        run: chmod +x test.sh

      - name: Run Test Script
        run: ./test.sh
